{% extends 'index.html' %}

{% block content %}

<div class="btn-group" role="group">
    <a class="btn btn-secondary btn-sm" href="/">Home</a>
    <button id="add-btn" class="btn btn-success btn-sm">Add new supplier</button>
    <a class="btn btn-warning btn-sm" href="/suppliers">Manage suppliers</a>
    <a class="btn btn-primary btn-sm" href="/products">Manage products</a>
</div>

<h2>Suppliers</h2>

{% for s in suppliers %}

<div class="card" style="width: 50rem;">
    <div class="card-body">
        <h4 class="card-title">{{s.companyname}}</h4>
        <p class="card-text">{{s.contactname}} | phone: {{s.phone}} | email: {{s.email}} </p>
        <p class="card-text">Address: {{s.address}} | Country: {{s.country}}</p>
        <a href="#" class="btn btn-primary">Edit</a> <a href="/delete-supplier/{{s.id}}/"
            class="btn btn-danger">Delete</a>
        <a href="#" class="btn btn-secondary">{{s.companyname}} Products</a>

    </div>
</div>

{%endfor%}

{% endblock %}